{% load static %}

<h1 id="peseg.3">PE Seg.3</h1>

<h2 id="tableofcontents">Table of Contents</h2>

<ul>
<li><a href="#mapping">Mapping</a>

<ul>
<li><a href="#filebuffertoimagebuffer">FileBuffer to ImageBuffer</a></li>
<li><a href="#imagebuffertofilebuffer">ImageBuffer to FileBuffer</a></li>
</ul></li>
</ul>

<p><TableEndMark></p>

<section	id="mapping">
<h2>Mapping</h2>

<p>Now we are going to map file buffer into image buffer. Following diagram will give us an intuition about them.</p>

<figure>
<img src="{% static 'codehome/src/img/backward/filebuffer.png' %}" alt="File Buffer" />
<figcaption>File Buffer</figcaption>
</figure>

<figure>
<img src="{% static 'codehome/src/img/backward/imagebuffer.png' %}" alt="Image Buffer" />
<figcaption>Image Buffer</figcaption>
</figure>

<p>In previous notes, we have loaded an executable file, notepad.exe specifically, into our memory, which is termed file buffer. Meanwhile, we parse some important members, such as DOS Header, File Header, Optional PE Header, and Section Header. It&#8217;s time to map data in file buffer to image buffer.</p>

<p>Notice that in image buffer, each section of data has been stretched since it is aligned by <code>FileAlignment</code> in file buffer and <code>SectionAlignment</code> in image buffer. The first problem is to find a pattern of transferring data from file buffer to image buffer.</p>

<p>It can be concluded as following steps: (assume that <em>x</em> is the address of data in image buffer)<br/>
<ul>
	<li>calculate offset to ImageBase, <code>x -= ImageBase</code>.<br/></li>
	<li>locate which section it belongs to, <code>VirtualAddress[i] &lt; x &lt;= VirtualAddress[i] + misc.VirtualSize[i]</code>, where <code>i</code> means <em>i</em>th section.<br/></li>
	<li>calculate offset to the beginning of the section, <code>x -= VirtualAddress[n]</code>, where <code>n</code> is the number of section it belongs to.<br/></li>
	<li>locate the data block in file buffer, <code>x += PointerToRawData[n]</code>.</p></li>
</ul>

<section	id="filebuffertoimagebuffer">
<h3>FileBuffer to ImageBuffer</h3>

<p>We reorganized programs in previous sections in a hierarchy way so that we are able to manage it conveniently and high-efficiently.</p>
<pre><code class="c">// Global.h: we define global macro and type here.
#ifndef GLOBAL_H
#define GLOBAL_H

#define BYTE unsigned char
#define WORD unsigned short
#define DWORD unsigned int
#define PIMAGE_HEADER unsigned char*
#define nullptr NULL
#define DEBUG 0

#endif</code></pre>
<pre><code class="c">// ImageElement.h: this program defines basic element for storing entry of PE Headers
#ifndef IMAGEELEMENT_H
#define IMAGEELEMENT_H

#include &lt;stdio.h&gt;
#include &quot;Global.h&quot;

// Para.:
// @offset: offset to the base address of headers
// @length: the length of entry
// @val: store same as memory, aka. big endian, 48 3c 40 00
// @dword: store in 4-bytes format, 00403c48
typedef struct imageElement {
	size_t offset;
	size_t length;
	BYTE* val;
	DWORD dword;
} ImageElement;

// @baseAddrOfHeader: is a pointer, which will change as parsing different header
extern PIMAGE_HEADER baseAddrOfHeader;

void initImageElement(ImageElement* pEle, size_t offset, size_t length);
void printElement(char* prompt, ImageElement* pEle);

#endif</code></pre>
<pre><code class="c">// ImageElement.c
#include &quot;ImageElement.h&quot;

void initImageElement(ImageElement* pEle, size_t offset, size_t length) {
	BYTE* buffer = nullptr;

	pEle-&gt;offset = offset;
	pEle-&gt;length = length;
	
	// read as pointer
	buffer = (BYTE*)malloc(sizeof(BYTE) * sizeof(DWORD));
	memset(buffer, 0, sizeof(BYTE) * sizeof(DWORD));
	memcpy(buffer, baseAddrOfHeader + pEle-&gt;offset, pEle-&gt;length);
	
	pEle-&gt;val = buffer;
	
	// read as DWORD
	memcpy(&amp;pEle-&gt;dword, buffer, sizeof(BYTE) * sizeof(DWORD));
	
	buffer = nullptr;
}

void printElement(char* prompt, ImageElement* pEle) {
	size_t i;
	printf(prompt);
	
	for (i = 0; i &lt; pEle-&gt;length; i++) {
		printf(&quot;%02x &quot;, pEle-&gt;val[i]);
	}
	printf(&quot;\n&quot;);
	
	if (DEBUG) {
		printf(&quot;%04x\n&quot;, pEle-&gt;dword);
	}
}</code></pre>
<pre><code class="c">// PEReader.h: this program will read file into file buffer and return the base address of file buffer
#ifndef PEREADER_H
#define PEREADER_H

#include &lt;stdio.h&gt;
#include &quot;Global.h&quot;

// Para.
// @filename: the full name of a PE file
BYTE* readPEFile(BYTE* filename);

#endif</code></pre>
<pre><code class="c">// PEReader.c
#include &quot;PEReader.h&quot;

unsigned char* readPEFile(BYTE* filename) {
	FILE *stream;
	size_t filesize = 0;
	int flag = 0;
	BYTE* fileBuffer = nullptr;
	
	if ((stream = fopen(filename, &quot;rb&quot;)) != NULL) {
		// get file size
		fseek(stream, 0L, SEEK_END);
		filesize = ftell(stream);

		printf(&quot;%d\n&quot;, filesize);
		// reset stream pointer
		fseek(stream, 0L, SEEK_SET);

		// memory allocation and initialization
		fileBuffer = (BYTE*)malloc(sizeof(BYTE) * filesize);
		if (fileBuffer == nullptr) {
			printf(&quot;Memory allocate failed.\n&quot;);
			fclose(stream);
			exit(-1);
		}

		memset(fileBuffer, 0, sizeof(BYTE) * filesize);

		// memory read
		flag = fread(fileBuffer, sizeof(BYTE), filesize, stream);
		if (!flag) {
		    printf(&quot;Failed to read file.\n&quot;);
		    free(fileBuffer);
		    fclose(stream);
		    exit(-1);
		}
		
		fclose(stream);
		
		if (DEBUG) {
			printf(&quot;Filesize: %d\n&quot;, filesize);
			printf(&quot;fileBufferAddr: %x\n&quot;, fileBuffer);
			printf(&quot;\n&quot;);
		}

		return fileBuffer;
	}
	else {
		printf(&quot;ERROR: The file was not opened properly.\n&quot;);
		exit(-1);
	}
}</code></pre>
<pre><code class="c">// SectionHeader.h: since there are more than one file include it, we have to write a unique header file for defining section_header type.
#ifndef SECTIONHEADER_H
#define SECTIONHEADER_H

#include &quot;ImageElement.h&quot;

typedef struct image_section_header {
	ImageElement Name;
	union {
		ImageElement PhysicalAddress;
		ImageElement VirtualSize;
	} Misc;
	ImageElement VirtualAddress;
	ImageElement SizeOfRawData;
	ImageElement PointerToRawData;
	ImageElement PointerToRelocations;
	ImageElement PointerToLinenumbers;
	ImageElement NumberOfRelocations;
	ImageElement NumberOfLinenumbers;
	ImageElement Characteristics;
} IMAGE_SECTION_HEADER;

#endif</code></pre>
<pre><code class="c">// Main Program: PE Parser
// This program is going to read PE file from disk to file buffer
// in virtual memory, and then parses fields of the PE file.
#include &lt;stdio.h&gt;
#include &lt;string.h&gt;
#include &lt;stdlib.h&gt;
#include &quot;Global.h&quot;
#include &quot;PEReader.h&quot;
#include &quot;ImageElement.h&quot;
#include &quot;Tools.h&quot;

#define IMAGE_SIZEOF_SHORT_NAME 8

struct dosHeader{
	ImageElement e_magic;
	ImageElement e_lfanew;
} DOSHeader; 

struct fileHeader{
	ImageElement Machine;
	ImageElement NumberOfSections;
	ImageElement TimeDateStamp;
	ImageElement PointerToSymbolTable;
	ImageElement NumberOfSymbols;
	ImageElement SizeOfOptionalHeader;
	ImageElement Characteristics;
} FileHeader; 

struct optionalHeader{
	ImageElement Magic;
	ImageElement SizeOfCode;
	ImageElement AddressOfEntryPoint;
	ImageElement ImageBase;
	ImageElement SectionAlignment;
	ImageElement FileAlignment;
	ImageElement SizeOfImage;
	ImageElement SizeOfHeaders;
	ImageElement CheckSum;
	ImageElement SizeOfStackReserve;
	ImageElement SizeOfStackCommit;
	ImageElement SizeOfHeapReserve;
	ImageElement SizeOfHeapCommit;
	ImageElement NumberOfRvaAndSizes;
} OptionalHeader;

IMAGE_SECTION_HEADER* p_section_header = nullptr;

// base of file buffer
PIMAGE_HEADER fileBase = nullptr;
// track base address of each header
PIMAGE_HEADER baseAddrOfHeader = nullptr;
// base of image buffer, simulate imageBase in system
PIMAGE_HEADER imageBase = nullptr;

void InitializeParserTable() {
	size_t number_of_sections = 0;
	size_t file_header_offset = 0;
	size_t size_of_a_section = 0x28;
	size_t i;

	baseAddrOfHeader = fileBase;

	// DOS Header
	initImageElement(&amp;DOSHeader.e_magic, 0, 2);
	initImageElement(&amp;DOSHeader.e_lfanew, 60, 4);
	
	// offset of PE Flag to DOS Header
	// sizeof PE flag is 4 bytes, which is &apos;50 45 00 00&apos;
	file_header_offset = DOSHeader.e_lfanew.dword + 4;
	baseAddrOfHeader += file_header_offset;

	// PE STD Header
	initImageElement(&amp;FileHeader.Machine, 0, 2);
	initImageElement(&amp;FileHeader.NumberOfSections, 2, 2);
	initImageElement(&amp;FileHeader.TimeDateStamp, 4, 4);
	initImageElement(&amp;FileHeader.PointerToSymbolTable, 8, 4);
	initImageElement(&amp;FileHeader.NumberOfSymbols, 12, 4);
	initImageElement(&amp;FileHeader.SizeOfOptionalHeader, 16, 2);
	initImageElement(&amp;FileHeader.Characteristics, 18, 2);

	// change ptrAddr to Optional Header, the size of File Header is 20 bytes
	baseAddrOfHeader += 20;

	// PE Optional Header
	initImageElement(&amp;OptionalHeader.Magic, 0, 2);
	initImageElement(&amp;OptionalHeader.SizeOfCode, 4, 4);
	initImageElement(&amp;OptionalHeader.AddressOfEntryPoint, 16, 4);
	initImageElement(&amp;OptionalHeader.ImageBase, 28, 4);
	initImageElement(&amp;OptionalHeader.SectionAlignment, 32, 4);
	initImageElement(&amp;OptionalHeader.FileAlignment, 36, 4);
	initImageElement(&amp;OptionalHeader.SizeOfImage, 56, 4);
	initImageElement(&amp;OptionalHeader.SizeOfHeaders, 60, 4);
	initImageElement(&amp;OptionalHeader.CheckSum, 64, 4);
	initImageElement(&amp;OptionalHeader.SizeOfStackReserve, 72, 4);
	initImageElement(&amp;OptionalHeader.SizeOfStackCommit, 76, 4);
	initImageElement(&amp;OptionalHeader.SizeOfHeapReserve, 80, 4);
	initImageElement(&amp;OptionalHeader.SizeOfHeapCommit, 84, 4);
	initImageElement(&amp;OptionalHeader.NumberOfRvaAndSizes, 92, 4);
	// _IMAGE_DATA_DIRECTORY DataDirectory[16];

	// change ptrAddr to Section Table, the size of PE Optional Header is SizeOfOptionalHeader in File Header
	baseAddrOfHeader += FileHeader.SizeOfOptionalHeader.dword;

	if (DEBUG) {
		printf(&quot;value of ptrAddr is %x\n&quot;, (char)*baseAddrOfHeader);
	}

	// Initialization
	number_of_sections = FileHeader.NumberOfSections.dword;
	p_section_header = (IMAGE_SECTION_HEADER*)malloc(sizeof(IMAGE_SECTION_HEADER) * number_of_sections);
	memset(p_section_header, 0, sizeof(IMAGE_SECTION_HEADER) * number_of_sections);

	// Section Table
	for (i = 0; i &lt; number_of_sections; i++) {
		initImageElement(&amp;p_section_header[i].Name, 0, 8);
		initImageElement(&amp;p_section_header[i].Misc.VirtualSize, 8, 4);
		initImageElement(&amp;p_section_header[i].VirtualAddress, 12, 4);
		initImageElement(&amp;p_section_header[i].SizeOfRawData, 16, 4);
		initImageElement(&amp;p_section_header[i].PointerToRawData, 20, 4);
		initImageElement(&amp;p_section_header[i].Characteristics, 36, 4);
		
		// go to table of next section
		baseAddrOfHeader += size_of_a_section;
	}
}

void printHeaders() {
	size_t i;
	char name[9] = {0};

	printf(&quot;======DOS HEADER======\n&quot;);
	printElement(&quot;e_magic: &quot;, &amp;DOSHeader.e_magic);
	printElement(&quot;e_lfanew: &quot;, &amp;DOSHeader.e_lfanew);
	printf(&quot;\n&quot;);

	printf(&quot;======File HEADER======\n&quot;);
	printElement(&quot;Machine: &quot;, &amp;FileHeader.Machine);
	printElement(&quot;NumberOfSections: &quot;, &amp;FileHeader.NumberOfSections);
	printElement(&quot;TimeDateStamp: &quot;, &amp;FileHeader.TimeDateStamp);
	printElement(&quot;PointerToSymbolTable: &quot;, &amp;FileHeader.PointerToSymbolTable);
	printElement(&quot;NumberOfSymbols: &quot;, &amp;FileHeader.NumberOfSymbols);
	printElement(&quot;SizeOfOptionalHeader: &quot;, &amp;FileHeader.SizeOfOptionalHeader);
	printElement(&quot;Characteristics: &quot;, &amp;FileHeader.Characteristics);
	printf(&quot;\n&quot;);

	printf(&quot;======Optional HEADER======\n&quot;);
	printElement(&quot;Magic: &quot;, &amp;OptionalHeader.Magic);
	printElement(&quot;SizeOfCode: &quot;, &amp;OptionalHeader.SizeOfCode);
	printElement(&quot;AddressOfEntryPoint: &quot;, &amp;OptionalHeader.AddressOfEntryPoint);
	printElement(&quot;ImageBase: &quot;, &amp;OptionalHeader.ImageBase);
	printElement(&quot;SectionAlignment: &quot;, &amp;OptionalHeader.SectionAlignment);
	printElement(&quot;FileAlignment: &quot;, &amp;OptionalHeader.FileAlignment);
	printElement(&quot;SizeOfImage: &quot;, &amp;OptionalHeader.SizeOfImage);
	printElement(&quot;SizeOfHeaders: &quot;, &amp;OptionalHeader.SizeOfHeaders);
	printElement(&quot;CheckSum: &quot;, &amp;OptionalHeader.CheckSum);
	printElement(&quot;SizeOfStackReserve: &quot;, &amp;OptionalHeader.SizeOfStackReserve);
	printElement(&quot;SizeOfStackCommit: &quot;, &amp;OptionalHeader.SizeOfStackCommit);
	printElement(&quot;SizeOfHeapReserve: &quot;, &amp;OptionalHeader.SizeOfHeapReserve);
	printElement(&quot;SizeOfHeapCommit: &quot;, &amp;OptionalHeader.SizeOfHeapCommit);
	printElement(&quot;NumberOfRvaAndSizes: &quot;, &amp;OptionalHeader.NumberOfRvaAndSizes);

	printf(&quot;======SECTION HEADER======\n&quot;);
	for (i = 0; i &lt; FileHeader.NumberOfSections.dword; i++) {
		printf(&quot;Description of SECTION %d:\n&quot;, i);
		// a secure way to output name
		memcpy(name, p_section_header[i].Name.val, 8);
		name[8] = &apos;\0&apos;;
		printf(&quot;Name: %s\n&quot;, name);
		printElement(&quot;Misc: &quot;, &amp;p_section_header[i].Misc.VirtualSize);
		printElement(&quot;VirtualAddress: &quot;, &amp;p_section_header[i].VirtualAddress);
		printElement(&quot;SizeOfRawData: &quot;, &amp;p_section_header[i].SizeOfRawData);
		printElement(&quot;PointerToRawData: &quot;, &amp;p_section_header[i].PointerToRawData);
		printElement(&quot;Characteristics: &quot;, &amp;p_section_header[i].Characteristics);
	}
}

void PEParser() {
	InitializeParserTable();
	printHeaders();
}

int main(int argc, char* argv[]) {
	fileBase = readPEFile(&quot;notepad.exe&quot;);
    PEParser();

    return 0;
}</code></pre>

<p>Now we are going to write a function to simulate system to transfer data from file buffer into image buffer.</p>
<pre><code class="c">// Tools.h: this program will transfer data in file buffer to image buffer
#ifndef TOOLS_H
#define TOOLS_H

#include &lt;stdio.h&gt;
#include &quot;Global.h&quot;
#include &quot;SectionHeader.h&quot;

extern PIMAGE_HEADER fileBase;

// translate relative virtual address(RAV) to file offset address(FOA) for each data
// in a simple word, copy by byte
BYTE* RAVtoFOA(BYTE* virtualAddrOfData, BYTE* imgBase, BYTE* fileBase, IMAGE_SECTION_HEADER* p_section_header, int numberOfSections);

// the function will return imageBase which records the base address of image file
// copy in batch
BYTE* TransferToImageBuffer(BYTE* fileBase, int imgSize, int headerSize, IMAGE_SECTION_HEADER* p_section_header, int numberOfSections);

BYTE* TransferToFileBuffer(BYTE* imageBase, int fileSize, int headerSize, IMAGE_SECTION_HEADER* p_section_header, int numberOfSections);
void SaveAsFile(char* name, BYTE* fileBase, int fileSize);

void TestRVAtoFOA(BYTE* fileBase, int imgSize, int headerSize, IMAGE_SECTION_HEADER* p_section_header, int numberOfSections);

#endif</code></pre>
<pre><code class="c">// Tools.c
#include &quot;Tools.h&quot;

int isInSection(int rva, int beginRVA, int endRVA) {
	if (rva &gt;= beginRVA &amp;&amp; rva &lt;= endRVA) {
		return 1;
	}

	return 0;
}

BYTE* RAVtoFOA(BYTE* virtualAddrOfData, BYTE* imgBase, BYTE* fileBase, IMAGE_SECTION_HEADER* p_section_header, int numberOfSections) {
	// calculate relative virtual address
	int i;
	int sectionNum = -1;
	int rva = virtualAddrOfData - imgBase;
	int offset = 0;
	BYTE* fileAddrOfData = nullptr;
	
	// judge which section it belongs to
	for (i = 0; i &lt; numberOfSections; i++) {
		if (isInSection(rva, p_section_header[i].VirtualAddress.dword, p_section_header[i].VirtualAddress.dword + p_section_header[i].Misc.VirtualSize.dword)) {
			sectionNum = i;
			break;
		}
	}

	// throw error
	if (sectionNum == -1) {
		printf(&quot;Error: Data is not in legal range of any section.\n&quot;);
		exit(-1);
	}

	// calculate offset to the begin of the section
	offset = rva - p_section_header[sectionNum].VirtualAddress.dword;

	// get the address in file buffer
	fileAddrOfData = fileBase + p_section_header[sectionNum].PointerToRawData.dword + offset;
	
	return fileAddrOfData;
}

BYTE* TransferToImageBuffer(BYTE* fileBase, int imgSize, int headerSize, IMAGE_SECTION_HEADER* p_section_header, int numberOfSections) {
	// memory allocation for image buffer
	BYTE* imgBase = (BYTE*)malloc(sizeof(BYTE) * imgSize);
	size_t i;
	memset(imgBase, 0, sizeof(BYTE) * imgSize);
	
	// copy headers
	memcpy(imgBase, fileBase, sizeof(BYTE) * headerSize);
	
	if (DEBUG) {
		printf(&quot;imgBase: %x\n&quot;, imgBase);
		printf(&quot;fileBase: %x\n&quot;, fileBase);
		for (i = 0; i &lt; numberOfSections; i++) {
			printf(&quot;Section[%d] VirtualAddr: %x\n&quot;, i, &amp;imgBase[p_section_header[i].VirtualAddress.dword]);
			printf(&quot;Section[%d] FileAddr: %x\n&quot;, i, &amp;fileBase[p_section_header[i].PointerToRawData.dword]);
		}
	}

	// copy sections
	for (i = 0; i &lt; numberOfSections; i++) {
		memcpy(&amp;imgBase[p_section_header[i].VirtualAddress.dword], &amp;fileBase[p_section_header[i].PointerToRawData.dword], sizeof(BYTE) * p_section_header[i].SizeOfRawData.dword);
	}

	return imgBase;
}

void TestRVAtoFOA(BYTE* fileBase, int imgSize, int headerSize, IMAGE_SECTION_HEADER* p_section_header, int numberOfSections) {
    BYTE* fileAddr = nullptr;
	BYTE* virtualAddr = nullptr;

	// memory allocation
	BYTE* imgBase = (BYTE*)malloc(sizeof(BYTE) * imgSize);
	memset(imgBase, 0, sizeof(BYTE) * imgSize);
	
	// test for legal address of a section
	virtualAddr = imgBase + p_section_header[0].VirtualAddress.dword + 10;
	// test for address out of range
	// virtualAddr = imgBase + p_section_header[0].VirtualAddress.dword - 10;
	fileAddr = RAVtoFOA(virtualAddr, imgBase, fileBase, p_section_header, numberOfSections);
	
	printf(&quot;ImageBase: %x\n&quot;, imgBase);
	printf(&quot;FileBase: %x\n&quot;, fileBase);
	printf(&quot;Virtual Address: %x\n&quot;, virtualAddr);
	printf(&quot;File Address: %x\n&quot;, fileAddr);
}</code></pre>

</section>
<section	id="imagebuffertofilebuffer">
<h3>ImageBuffer to FileBuffer</h3>

<p>After transferring from file buffer to image buffer, how about do it reversely.</p>

<p>The first problem is how to calculate memory size of file buffer to allocate. From the diagram above, we are able to figure out that <code>sizeof(file buffer) = SizeOfHeaders + Section[i].SizeOfRawData</code>, where <code>i = 0, 1, 2, ...</code>.</p>

<p>Now let&#8217;s try it!</p>

<p>First we need two auxiliary functions, one is to calculate memory size of file buffer and the other is to save file buffer as a file.</p>
<pre><code class="c">// main.c
int CalculateFileSize() {
	int filesize = 0;
	int i;
	filesize += OptionalHeader.SizeOfHeaders.dword;
	for (i = 0; i &lt; FileHeader.NumberOfSections.dword; i++) {
		filesize += p_section_header[i].SizeOfRawData.dword;
	}

	return filesize;
}</code></pre>
<pre><code class="c">// Tools.c
void SaveAsFile(char* filename, BYTE* fileBase, int fileSize) {
	FILE *stream;
	int flag = 0;
	if ((stream = fopen(filename, &quot;wb&quot;)) != NULL) {
		flag = fwrite(fileBase, sizeof(BYTE), fileSize, stream);

		if (!flag) {
			printf(&quot;Failed to write file.\n&quot;);
			fclose(stream);
			exit(-1);
		}

		fclose(stream);
	}
	else {
		printf(&quot;Failed to open a new file.\n&quot;);
		exit(-1);
	}
}</code></pre>

<p>In fact, reversed function is very simple, which is slightly different from <code>TransferToImageBuffer</code>.</p>
<pre><code class="c">// Tools.c:
BYTE* TransferToFileBuffer(BYTE* imageBase, int fileSize, int headerSize, IMAGE_SECTION_HEADER* p_section_header, int numberOfSections) {
	int i;
	// memory allocation for file buffer
	BYTE* fileBase = (BYTE*)malloc(sizeof(BYTE) * fileSize);
	memset(fileBase, 0, sizeof(BYTE) * fileSize);

	// copy headers
	memcpy(fileBase, imageBase, sizeof(BYTE) * headerSize);

	// copy sections: the only difference from above
	for (i = 0; i &lt; numberOfSections; i++) {
		memcpy(&amp;fileBase[p_section_header[i].PointerToRawData.dword], &amp;imageBase[p_section_header[i].VirtualAddress.dword], sizeof(BYTE) * p_section_header[i].SizeOfRawData.dword);
	}

	return fileBase;
}</code></pre>

<p>Now let&#8217;s test our programs, the program will do following process - read file into memory(file buffer), map data from file buffer to image buffer, map data from image buffer to a new file buffer, and at last save new file buffer as a file.</p>
<pre><code class="c">int main(int argc, char* argv[]) {
	BYTE* fileBaseNew = nullptr;
	int filesize = 0;

    // read file into file buffer
	fileBase = readPEFile(&quot;notepad.exe&quot;);

    // parse headers	
    PEParser();

    // map file buffer to image buffer
	imageBase = TransferToImageBuffer(fileBase, OptionalHeader.SizeOfImage.dword, OptionalHeader.SizeOfHeaders.dword, p_section_header, FileHeader.NumberOfSections.dword);
	
    // map image buffer to a new file buffer
    filesize = CalculateFileSize();
	fileBaseNew = TransferToFileBuffer(imageBase, filesize, OptionalHeader.SizeOfHeaders.dword, p_section_header, FileHeader.NumberOfSections.dword);

    // save as a new file
	SaveAsFile(&quot;newNotePad.exe&quot;, fileBase, filesize);

    return 0;
}</code></pre>

</section>
</section>
<p><EndMarkdown></p>
 
         <!-- pre and next --> 
         <div class="row"> 
             <div class="col-md-12 prenextstyle"> 
                 <ul class="pagination justify-content-center"> 
                     <li><a href="{% url 'notepage' 'backward' 'part10' %}" class="button primary icon solid fa-backward">Back: 10. PE Seg.2</a></li> 
                     <li><span class="button">11. PE Seg.3</span></li> 
                     <li><a href="{% url 'notepage' 'backward' 'part12' %}" class="button primary icon solid fa-forward">Next: 12. Coding</a></li> 
                 </ul> 
             </div> 
         </div>
 
