{% load static %}

<h1 id="peseg.7">PE Seg.7</h1>

<h2 id="tableofcontents">Table of Contents</h2>

<ul>
<li><a href="#datadirectory">DATA DIRECTORY</a>

<ul>
<li><a href="#optionalheaderdatadirectories">Optional Header Data Directories</a></li>
<li><a href="#exportdatasection">Export Data Section</a>

<ul>
<li><a href="#exportdirectorytable">Export Directory Table</a></li>
<li><a href="#exportaddresstable">Export Address Table</a></li>
<li><a href="#exportnamepointertable">Export Name Pointer Table</a></li>
<li><a href="#exportordinaltable">Export Ordinal Table</a></li>
<li><a href="#exportnametable">Export Name Table</a></li>
<li><a href="#exportmethods">Export Methods</a></li>
</ul></li>
</ul></li>
</ul>

<p><TableEndMark></p>

<section	id="datadirectory">
<h2>DATA DIRECTORY</h2>

<p>Notice that in the previous, we define optional header struct as follows,</p>
<pre><code class="c">typedef struct optionalHeader {
	WORD Magic;
	DWORD SizeOfCode;
	BYTE offseta[8];
	DWORD AddressOfEntryPoint;
	BYTE offsetb[8];
	DWORD ImageBase;
	DWORD SectionAlignment;
	DWORD FileAlignment;
	BYTE offsetc[16];
	DWORD SizeOfImage;
	DWORD SizeOfHeaders;
	DWORD CheckSum;
	BYTE offsetd[4];
	DWORD SizeOfStackReserve;
	DWORD SizeOfStackCommit;
	DWORD SizeOfHeapReserve;
	DWORD SizeOfHeapCommit;
	BYTE offsete[4];
	DWORD NumberOfRvaAndSizes;
	// _IMAGE_DATA_DIRECTORY DataDirectory[16];
} OPTIONALHeader;</code></pre>

<p>Yet it is not complete since we did NOT define image data directory. Now let&#8217;s discuss these important directories.</p>

<section	id="optionalheaderdatadirectories">
<h3>Optional Header Data Directories</h3>

<p>Each data directory gives the address and size of a table or string that Windows uses. These data directory entries are all loaded into memory so that the system can use them at run time. A data directory is an 8-byte field that has the following declaration:</p>
<pre><code class="c">typedef struct _IMAGE_DATA_DIRECTORY {
    DWORD   VirtualAddress;
    DWORD   Size;
} IMAGE_DATA_DIRECTORY, *PIMAGE_DATA_DIRECTORY;</code></pre>

<p>The first field, VirtualAddress, is actually the RVA of the table. The RVA is the address of the table relative to the base address of the image when the table is loaded. The second field gives the size in bytes. The data directories, which form the last part of the optional header, are listed in the following table.</p>

<p>Note that the number of directories is not fixed. Before looking for a specific directory, check the <code>NumberOfRvaAndSizes</code> field in the optional header.</p>

<table>
<colgroup>
<col style="text-align:center;"/>
<col style="text-align:center;"/>
<col style="text-align:center;"/>
<col style="text-align:center;"/>
</colgroup>

<thead>
<tr>
	<th style="text-align:center;">Offset</th>
	<th style="text-align:center;">Size</th>
	<th style="text-align:center;">Field</th>
	<th style="text-align:center;">Description</th>
</tr>
</thead>

<tbody>
<tr>
	<td style="text-align:center;">96</td>
	<td style="text-align:center;">8</td>
	<td style="text-align:center;">Export Table</td>
	<td style="text-align:center;">The export table address and size</td>
</tr>
<tr>
	<td style="text-align:center;">104</td>
	<td style="text-align:center;">8</td>
	<td style="text-align:center;">Import Table</td>
	<td style="text-align:center;">The import table address and size. For more information</td>
</tr>
<tr>
	<td style="text-align:center;">112</td>
	<td style="text-align:center;">8</td>
	<td style="text-align:center;">Resource Table</td>
	<td style="text-align:center;">The resource table address and size. For more information</td>
</tr>
<tr>
	<td style="text-align:center;">120</td>
	<td style="text-align:center;">8</td>
	<td style="text-align:center;">Exception Table</td>
	<td style="text-align:center;">The exception table address and size. For more information</td>
</tr>
<tr>
	<td style="text-align:center;">128</td>
	<td style="text-align:center;">8</td>
	<td style="text-align:center;">Certificate Table</td>
	<td style="text-align:center;">The attribute certificate table address and size. For more information</td>
</tr>
<tr>
	<td style="text-align:center;">136</td>
	<td style="text-align:center;">8</td>
	<td style="text-align:center;">Base Relocation Table</td>
	<td style="text-align:center;">The base relocation table address and size. For more information</td>
</tr>
<tr>
	<td style="text-align:center;">&#8230;</td>
	<td style="text-align:center;">&#8230;</td>
	<td style="text-align:center;">&#8230;</td>
	<td style="text-align:center;">&#8230;</td>
</tr>
<tr>
	<td style="text-align:center;">192</td>
	<td style="text-align:center;">8</td>
	<td style="text-align:center;">IAT</td>
	<td style="text-align:center;">The import address table address and size.</td>
</tr>
<tr>
	<td style="text-align:center;">&#8230;</td>
	<td style="text-align:center;">&#8230;</td>
	<td style="text-align:center;">&#8230;</td>
	<td style="text-align:center;">&#8230;</td>
</tr>
</tbody>
</table>

<p>Although there are so many items, we only focus on 4 tables of them - export table, import table, base relocation table, and IAT.</p>

</section>
<section	id="exportdatasection">
<h3>Export Data Section</h3>

<p>The export data section, named .edata, contains information about symbols that other images can access through dynamic linking. Exported symbols are generally found in DLLs, but DLLs can also import symbols.</p>

<p>An overview of the general structure of the export section is described below. </p>

<table>
<colgroup>
<col style="text-align:center;"/>
<col style="text-align:center;"/>
</colgroup>

<thead>
<tr>
	<th style="text-align:center;">Table Name</th>
	<th style="text-align:center;">Description</th>
</tr>
</thead>

<tbody>
<tr>
	<td style="text-align:center;">Export Directory Table</td>
	<td style="text-align:center;">This table indicates the locations and sizes of the other export tables.</td>
</tr>
<tr>
	<td style="text-align:center;">Export Address Table</td>
	<td style="text-align:center;">An array of RVAs of exported symbols. These are the actual addresses of the exported functions and data within the executable code and data sections. Other image files can import a symbol by using an index to this table (an ordinal) or, optionally, by using the public name that corresponds to the ordinal if a public name is defined.</td>
</tr>
<tr>
	<td style="text-align:center;">Name Pointer Table</td>
	<td style="text-align:center;">An array of pointers to the public export names, sorted in ascending order.</td>
</tr>
<tr>
	<td style="text-align:center;">Ordinal table</td>
	<td style="text-align:center;">An array of the ordinals that correspond to members of the name pointer table. The correspondence is by position; therefore, <em>the name pointer table and the ordinal table must have the same number of members</em>. Each ordinal is an index into the export address table.</td>
</tr>
<tr>
	<td style="text-align:center;">Export Name Table</td>
	<td style="text-align:center;">A series of null-terminated ASCII strings. Members of the name pointer table point into this area. These names are the public names through which the symbols are imported and exported; they are not necessarily the same as the private names that are used within the image file.</td>
</tr>
</tbody>
</table>

<section	id="exportdirectorytable">
<h4>Export Directory Table</h4>

<p>The export symbol information begins with the <strong>export directory table</strong>, which describes the remainder of the export symbol information. The export directory table contains address information that is used to resolve imports to the entry points within this image.</p>
<pre><code class="c">typedef struct _IMAGE_EXPORT_DIRECTORY {					
    DWORD   Characteristics;	
    DWORD   TimeDateStamp;	
    WORD    MajorVersion;
    WORD    MinorVersion;	
    DWORD   NameRVA;	
    DWORD   Ordinal Base;
    DWORD   NumberOfFunctions;
    DWORD   NumberOfNames;	
    DWORD   AddressOfFunctions;
    DWORD   AddressOfNames;
    DWORD   AddressOfNameOrdinals;
} IMAGE_EXPORT_DIRECTORY, *PIMAGE_EXPORT_DIRECTORY;					</code></pre>

<table>
<colgroup>
<col style="text-align:center;"/>
<col style="text-align:center;"/>
<col style="text-align:center;"/>
<col style="text-align:center;"/>
</colgroup>

<thead>
<tr>
	<th style="text-align:center;">Offset</th>
	<th style="text-align:center;">Size</th>
	<th style="text-align:center;">Field</th>
	<th style="text-align:center;">Description</th>
</tr>
</thead>

<tbody>
<tr>
	<td style="text-align:center;">0</td>
	<td style="text-align:center;">4</td>
	<td style="text-align:center;">Export Flags</td>
	<td style="text-align:center;">Reserved, must be 0.</td>
</tr>
<tr>
	<td style="text-align:center;">4</td>
	<td style="text-align:center;">4</td>
	<td style="text-align:center;">Time/Date Stamp</td>
	<td style="text-align:center;">The time and date that the export data was created.</td>
</tr>
<tr>
	<td style="text-align:center;">8</td>
	<td style="text-align:center;">2</td>
	<td style="text-align:center;">Major Version</td>
	<td style="text-align:center;">The major version number. The major and minor version numbers can be set by the user.</td>
</tr>
<tr>
	<td style="text-align:center;">10</td>
	<td style="text-align:center;">2</td>
	<td style="text-align:center;">Minor Version</td>
	<td style="text-align:center;">The minor version number.</td>
</tr>
<tr>
	<td style="text-align:center;">12</td>
	<td style="text-align:center;">4</td>
	<td style="text-align:center;">Name RVA</td>
	<td style="text-align:center;">The address of the ASCII string that contains the name of the DLL. This address is relative to the image base.</td>
</tr>
<tr>
	<td style="text-align:center;">16</td>
	<td style="text-align:center;">4</td>
	<td style="text-align:center;">Ordinal Base</td>
	<td style="text-align:center;">The starting ordinal number for exports in this image. This field specifies the starting ordinal number for the export address table. It is usually set to 1.</td>
</tr>
<tr>
	<td style="text-align:center;">20</td>
	<td style="text-align:center;">4</td>
	<td style="text-align:center;">Address Table Entries</td>
	<td style="text-align:center;">The number of entries in the export address table.</td>
</tr>
<tr>
	<td style="text-align:center;">24</td>
	<td style="text-align:center;">4</td>
	<td style="text-align:center;">Number of Name Pointers</td>
	<td style="text-align:center;">The number of entries in the name pointer table. This is also the number of entries in the ordinal table.</td>
</tr>
<tr>
	<td style="text-align:center;">28</td>
	<td style="text-align:center;">4</td>
	<td style="text-align:center;">Export Address Table RVA</td>
	<td style="text-align:center;">The address of the export address table, relative to the image base.</td>
</tr>
<tr>
	<td style="text-align:center;">32</td>
	<td style="text-align:center;">4</td>
	<td style="text-align:center;">Name Pointer RVA</td>
	<td style="text-align:center;">The address of the export name pointer table, relative to the image base. The table size is given by the Number of Name Pointers field.</td>
</tr>
<tr>
	<td style="text-align:center;">36</td>
	<td style="text-align:center;">4</td>
	<td style="text-align:center;">Ordinal Table RVA</td>
	<td style="text-align:center;">The address of the ordinal table, relative to the image base.</td>
</tr>
</tbody>
</table>

</section>
<section	id="exportaddresstable">
<h4>Export Address Table</h4>

<p>The export address table contains the address of exported entry points and exported data and absolutes. An ordinal number is used as an index into the export address table.</p>

<p>Each entry in the export address table is a field that uses one of two formats in the following table. If the address specified is not within the export section (as defined by the address and length that are indicated in the optional header), the field is an export RVA, which is an actual address in code or data. Otherwise, the field is a forwarder RVA, which names a symbol in another DLL.</p>

<table>
<colgroup>
<col style="text-align:center;"/>
<col style="text-align:center;"/>
<col style="text-align:center;"/>
<col style="text-align:center;"/>
</colgroup>

<thead>
<tr>
	<th style="text-align:center;">Offset</th>
	<th style="text-align:center;">Size</th>
	<th style="text-align:center;">Field</th>
	<th style="text-align:center;">Description</th>
</tr>
</thead>

<tbody>
<tr>
	<td style="text-align:center;">0</td>
	<td style="text-align:center;">4</td>
	<td style="text-align:center;">Export RVA</td>
	<td style="text-align:center;">The address of the exported symbol when loaded into memory, relative to the image base. For example, the address of an exported function.</td>
</tr>
<tr>
	<td style="text-align:center;">0</td>
	<td style="text-align:center;">4</td>
	<td style="text-align:center;">Forwarder RVA</td>
	<td style="text-align:center;">The pointer to a null-terminated ASCII string in the export section. This string must be within the range that is given by the <em>export table data directory</em> entry. This string gives the DLL name and the name of the export (for example, &#8220;MYDLL.expfunc&#8221;) or the DLL name and the ordinal number of the export (for example, &#8220;MYDLL.#27&#8221;).</td>
</tr>
</tbody>
</table>

<p>Notice that:</p>

<ul>
<li>The number of address array is determined by NumberOfFunctions in export directory table.</li>
<li>All address stored in array is RVA, and the absolute virtual address equals <code>RVA + ImageBase</code>.</li>
<li>NumberOfFunctions: is calculated by biased ordinals defined by programmer.</li>
</ul>

<p>For example, if we define <code>.def</code> file as follows,</p>
<pre><code class="c">EXPORTS

Plus  @2
Sub   @5  NONAME
Mul   @3
Div   @6</code></pre>

<p>Ordinals in <code>.def</code> file is called biased ordinal, and <code>NumberOfFunctions = Max - Min + 1</code>, which equals 5 in this case. We will get a corresponding export address table as follows,</p>
<pre><code class="c">// export address table
index   value
0       100f
1       1014
2       0
3       100a
4       1019</code></pre>

</section>
<section	id="exportnamepointertable">
<h4>Export Name Pointer Table</h4>

<p>The export name pointer table is an array of addresses (RVAs) into the export name table. The pointers are 32 bits each and are relative to the image base. <em>The pointers are ordered lexically to allow binary searches.</em></p>

<p>An export name is defined only if the export name pointer table contains a pointer to it.</p>

</section>
<section	id="exportordinaltable">
<h4>Export Ordinal Table</h4>

<p>The export ordinal table is an array of <em>16-bit unbiased indexes</em> into the export address table. Ordinals are biased by the Ordinal Base field of the export directory table. In other words, <em>the ordinal base must be subtracted from the ordinals to obtain true indexes into the export address table</em>.</p>

<p>The export name pointer table and the export ordinal table form two <em>parallel arrays</em> that are separated to allow natural field alignment. These two tables, in effect, operate as one table, in which <em>the Export Name Pointer column points to a public (exported) name and the Export Ordinal column gives the corresponding ordinal for that public name</em>. A member of the export name pointer table and a member of the export ordinal table are associated by having the same position (index) in their respective arrays.</p>

<p>Thus, when the export name pointer table is searched and a matching string is found at position i, the algorithm for finding the symbol&#8217;s RVA and biased ordinal is:</p>
<pre><code class="c">// search by name
i = Search_ExportNamePointerTable(name);
ordinal = ExportOrdinalTable[i];

rva = ExportAddressTable[ordinal];
biased_ordinal = ordinal + OrdinalBase;</code></pre>

<p>When searching for a symbol by (biased) ordinal, the algorithm for finding the symbol&#8217;s RVA and name is:</p>
<pre><code class="c">ordinal = biased_ordinal - OrdinalBase;
i = Search_ExportOrdinalTable(ordinal);

rva = ExportAddressTable[ordinal];
name = ExportNameTable[i];</code></pre>

<p>BTW, we will explain codes above in a minute, so if you feel confused, don&#8217;t worry.</p>

<p>Notice that:</p>

<ul>
<li>Each element of array takes 2 bytes.</li>
<li>Only functions with name can be accessed by names, Otherwise we have to access those without name by ordinals.</li>
</ul>

<h5 id="differencesbetweenordinalandbiasedordinal">Differences Between Ordinal and Biased Ordinal</h5>

<p>To make it clear, let&#8217;s take an example, if we define a <code>.def</code> file as follows,</p>
<pre><code class="c">EXPORTS

Plus  @2
Sub   @5  NONAME
Mul   @3
Div   @6</code></pre>

<p>Ordinals above is termed biased ordinal, and the corresponding export ordinal table is:</p>
<pre><code class="c">// export ordinal table, baseOrdinal is the minimum biased ordinal, 2.
index   value
0       4
1       1
2       0</code></pre>

<p>From the example, we know that since the number of export ordinal table equals to that of export name pointer table, we are not able to access function with <code>NONAME</code> symbol by searching by name. In this case there is no ordinal in export ordinal table for <code>Sub</code>, a no-name function.</p>
<pre><code class="c">// export address table
index   value
0       100f
1       1014
2       0
3       100a  // Sub(): cannot be searched by name
4       1019</code></pre>

</section>
<section	id="exportnametable">
<h4>Export Name Table</h4>

<p>The export name table contains the actual string data that was pointed to by the export name pointer table. The strings in this table are public names that other images can use to import the symbols. These public export names are not necessarily the same as the private symbol names that the symbols have in their own image file and source code, although they can be.</p>

<p>Every exported symbol has an ordinal value, which is just the index into the export address table. Use of export names, however, is optional. Some, all, or none of the exported symbols can have export names. For exported symbols that do have export names, corresponding entries in the export name pointer table and export ordinal table work together to associate each name with an ordinal.</p>

<p>The structure of the export name table is a series of null-terminated ASCII strings of variable length.</p>

</section>
<section	id="exportmethods">
<h4>Export Methods</h4>

<p>There are two ways for export functions - by name or ordinal. The relationship of them can be diagrammed as follows,</p>

<figure>
<img src="{% static 'codehome/src/img/backward/relationship.png' %}" alt="Relationship of Tables" />
<figcaption>Relationship of Tables</figcaption>
</figure>
<pre><code class="c">// update PEParser so that it is able to parse directory tables.
// Global.h: define struct of image data directory.
typedef struct image_data_directory {
	DWORD VirtualAddress;
	DWORD Size;
} IMAGE_DATA_DIRECTORY;
IMAGE_DATA_DIRECTORY* pDirectory;

///////////////////////////
// Export Table - Begin

typedef struct image_export_directory {					
    DWORD   Characteristics;	
    DWORD   TimeDateStamp;	
    WORD    MajorVersion;
    WORD    MinorVersion;	
    DWORD   NameRVA;	
    DWORD   OrdinalBase;
    DWORD   NumberOfFunctions;
    DWORD   NumberOfNames;	
    DWORD   AddressOfFunctions;
    DWORD   AddressOfNames;
    DWORD   AddressOfNameOrdinals;
} IMAGE_EXPORT_DIRECTORY;
IMAGE_EXPORT_DIRECTORY* pExportDirectory;

typedef struct export_address_table {
	DWORD FuncVirtualAddress;
} EXPORT_ADDRESS_TABLE;
EXPORT_ADDRESS_TABLE* pAddressTable;

typedef struct name_pointer_table {
	DWORD NameVirtualAddress;
} NAME_POINTER_TABLE;
NAME_POINTER_TABLE* pNamePointerTable;

typedef struct name_ordinal_table {
	WORD Ordinal;
} NAME_ORDINAL_TABLE;
NAME_ORDINAL_TABLE* pNameOrdinalTable;

// Export Table - End
///////////////////////
</code></pre>

<p>Notice that to fix dependency conflict, we place functions <code>VAToFOA()</code> and <code>FOAToVA()</code> in <code>Global.h</code> so that they are able to be used in <code>PEParser</code>.</p>
<pre><code class="c">// PEParser.h: defines a constant directory offset to optional header, which is 96.
#define DIRECTORY_OFFSET 96

// add a new function print export directory
void printExportDirectory();</code></pre>
<pre><code class="c">// PEParser.c: lists 4 important tables -- export/import table, base relocation table, and important address table.
void printHeaders() {
	...
	printf(&quot;======Directory Data======\n&quot;);
	printf(&quot;Export Table: \n&quot;);
	printf(&quot;VA: %x,  Size: %x\n&quot;, pDirectory[0].VirtualAddress, pDirectory[0].Size);
	printf(&quot;Import Table: \n&quot;);
	printf(&quot;VA: %x,  Size: %x\n&quot;, pDirectory[1].VirtualAddress, pDirectory[1].Size);
	printf(&quot;Base Relocation Table: \n&quot;);
	printf(&quot;VA: %x,  Size: %x\n&quot;, pDirectory[5].VirtualAddress, pDirectory[5].Size);
	// since 13th table is IAT
	if (pOptionalHeader-&gt;NumberOfRvaAndSizes &gt; 0x0C) {
		printf(&quot;IAT: \n&quot;);
		printf(&quot;VA: %x,  Size: %x\n&quot;, pDirectory[12].VirtualAddress, pDirectory[12].Size);
	}
	...
}

void printExportDirectory() {
	size_t i;
	printf(&quot;======Export Directory======\n&quot;);
	printf(&quot;Characteristics: %x\n&quot;, pExportDirectory-&gt;Characteristics);
	printf(&quot;TimeDateStamp: %x\n&quot;, pExportDirectory-&gt;TimeDateStamp);
	printf(&quot;MajorVersion: %x\n&quot;, pExportDirectory-&gt;MajorVersion);
	printf(&quot;MinorVersion: %x\n&quot;, pExportDirectory-&gt;MinorVersion);
	printf(&quot;Name RVA: %x\n&quot;, pExportDirectory-&gt;NameRVA);
	printf(&quot;Ordinal Base: %x\n&quot;, pExportDirectory-&gt;OrdinalBase);
	printf(&quot;NumberOfFunctions: %x\n&quot;, pExportDirectory-&gt;NumberOfFunctions);
	printf(&quot;NumberOfNames: %x\n&quot;, pExportDirectory-&gt;NumberOfNames);
	printf(&quot;AddressOfFunctions: %x\n&quot;, pExportDirectory-&gt;AddressOfFunctions);
	printf(&quot;AddressOfNames: %x\n&quot;, pExportDirectory-&gt;AddressOfNames);
	printf(&quot;AddressOfNameOrdinals: %x\n&quot;, pExportDirectory-&gt;AddressOfNameOrdinals);
	printf(&quot;\n&quot;);

	printf(&quot;======Function Address Table======\n&quot;);
	for (i = 0; i &lt; pExportDirectory-&gt;NumberOfFunctions; i++) {
		printf(&quot;func@%d: %x\n&quot;, i, pAddressTable[i].FuncVirtualAddress);
	}
	printf(&quot;\n&quot;);

	printf(&quot;======Name Ordinal Table======\n&quot;);
	for (i = 0; i &lt; pExportDirectory-&gt;NumberOfNames; i++) {
		printf(&quot;%d: %x\n&quot;, i, pNameOrdinalTable[i].Ordinal);
	}
	printf(&quot;\n&quot;);

	printf(&quot;======Name Pointer Table======\n&quot;);
	for (i = 0; i &lt; pExportDirectory-&gt;NumberOfNames; i++) {
		printf(&quot;%d: %x --&gt; &quot;, i, pNamePointerTable[i].NameVirtualAddress);
		printf(&quot;@%s\n&quot;, VAToFOA((BYTE*)(pNamePointerTable[i].NameVirtualAddress + pOptionalHeader-&gt;ImageBase), fileBuffer));
	}
	printf(&quot;\n&quot;);
}

STATUS PEParser(IN PMEMORYBASE filebase) {
	...
	// TODO: Update directory pointer
	pDirectory = (IMAGE_DATA_DIRECTORY*)((DWORD)pOptionalHeader + DIRECTORY_OFFSET);

	// TODO: Update export directory
	// since virtual address here is rva according to our definition, we have to add image base to transfer it to va.
	pExportDirectory = VAToFOA((BYTE*)(pDirectory[0].VirtualAddress + pOptionalHeader-&gt;ImageBase), fileBuffer);
	pAddressTable = VAToFOA((BYTE*)(pExportDirectory-&gt;AddressOfFunctions + pOptionalHeader-&gt;ImageBase), fileBuffer);
	pNamePointerTable = VAToFOA((BYTE*)(pExportDirectory-&gt;AddressOfNames + pOptionalHeader-&gt;ImageBase), fileBuffer);
	pNameOrdinalTable = VAToFOA((BYTE*)(pExportDirectory-&gt;AddressOfNameOrdinals + pOptionalHeader-&gt;ImageBase), fileBuffer);
	...
}</code></pre>

<h5 id="exportbyname">Export by Name</h5>

<p>Notice that in the last note, we use a builtin function called <code>GetProcAddress('FUNC_NAME')</code>. Now let&#8217;s figure out how it works.</p>

<p>When the export name pointer table is searched and a matching string is found at position i, the algorithm for finding the symbol&#8217;s RVA and biased ordinal is:</p>
<pre><code class="c">// search by name pseudo code
i = Search_ExportNamePointerTable(name);
ordinal = ExportOrdinalTable[i];

rva = ExportAddressTable[ordinal];
biased_ordinal = ordinal + OrdinalBase;</code></pre>
<pre><code class="c">// Tools.h
// searchExportNamePointerTable:
//     The helper function for SearchFuncAddrByName, which will return the index of matching element in export name pointer table.
// @name: the name of function to be searched.
size_t searchExportNamePointerTable(char* name);

// SearchFuncAddrByName:
//     The function will search function address in image by function name.
// @buffer: the base address of memory buffer.
// @name: function name.
DWORD SearchFuncAddrByName(IN PMEMORYBASE buffer, char* name);</code></pre>
<pre><code class="c">// Tools.c
int isMatched(BYTE* foaAddr, BYTE* name) {
	if (strcmp(foaAddr, name)) {
		return 1;
	}
	else {
		return 0;
	}
}

size_t searchExportNamePointerTable(char* name) {
	size_t index = -1;
	size_t i = 0;
	BYTE* nameFOAAddr = nullptr;
	
	for (i = 0; i &lt; pExportDirectory-&gt;NumberOfNames; i++) {
		nameFOAAddr = VAToFOA((BYTE*)(pNamePointerTable[i].NameVirtualAddress + pOptionalHeader-&gt;ImageBase), fileBuffer);
		if (isMatched(nameFOAAddr, name)) {
			index = i;
			break;
		}
	}

	return index;
}

DWORD SearchFuncAddrByName(IN PMEMORYBASE buffer, char* name) {
	WORD ordinal;
	DWORD rva;
	size_t i = searchExportNamePointerTable(name);
	
	if (i == -1) {
		printf(&quot;No matching function name founded.\n&quot;);
		exit(-1);
	}

	ordinal = pNameOrdinalTable[i].Ordinal;
	
	rva = pAddressTable[ordinal].FuncVirtualAddress;
	
	return rva;
}</code></pre>

<figure>
<img src="{% static 'codehome/src/img/backward/searchByName.png' %}" alt="Search by Name" />
<figcaption>Search by Name</figcaption>
</figure>

<p>IMPORTANT: if a function has no name, it can NOT be accessed by name.</p>
<pre><code class="c">// GetFuncAddrByName(FileBuffer, Name)</code></pre>

<h5 id="exportbyordinal">Export by Ordinal</h5>

<p>When searching for a symbol by (biased) ordinal, the algorithm for finding the symbol&#8217;s RVA and name is:</p>
<pre><code class="c">// search by ordinal pseudo code
ordinal = biased_ordinal - OrdinalBase;
i = Search_ExportOrdinalTable(ordinal);

rva = ExportAddressTable[ordinal];
name = ExportNameTable[i];</code></pre>

<figure>
<img src="{% static 'codehome/src/img/backward/searchByOrdinal.png' %}" alt="Search by Ordinal" />
<figcaption>Search by Ordinal</figcaption>
</figure>
<pre><code class="c">// Tools.h
// searchNameOrdinalTable:
//     The function will search ordinal in name ordinal table, and return the index of matched element.
// @ordinal: the ordinal of function, NOT biased ordinal.
size_t searchNameOrdinalTable(WORD ordinal);

// SearchFuncAddrByOrdinal:
//     The function will search function address in image by biased ordinal.
// @buffer: the base address of memory buffer.
// @biasedOrdinal: function ordinal defined in .def file.
DWORD SearchFuncAddrByOrdinal(IN PMEMORYBASE buffer, WORD biasedOrdinal);</code></pre>
<pre><code class="c">// Tools.c
size_t searchNameOrdinalTable(WORD ordinal) {
	size_t index = -1;
	size_t i;

	for (i = 0; i &lt; pExportDirectory-&gt;NumberOfNames; i++) {
		if (ordinal == pNameOrdinalTable[i].Ordinal) {
			index = i;
			break;
		}
	}

	return index;
}

DWORD SearchFuncAddrByOrdinal(IN PMEMORYBASE buffer, WORD biasedOrdinal) {
	DWORD rva;
	BYTE* name;
	WORD ordinal = biasedOrdinal - pExportDirectory-&gt;OrdinalBase;
	size_t index = searchNameOrdinalTable(ordinal);

	rva = pAddressTable[ordinal].FuncVirtualAddress;
	name = (BYTE*)(VAToFOA((BYTE*)(pNamePointerTable[index].NameVirtualAddress + pOptionalHeader-&gt;ImageBase), fileBuffer));

	printf(&quot;Name of function: %s\n&quot;, name);

	return rva;
}</code></pre>

</section>
</section>
</section>
<p><EndMarkdown></p>
 
         <!-- pre and next --> 
         <div class="row"> 
             <div class="col-md-12 prenextstyle"> 
                 <ul class="pagination justify-content-center"> 
                     <li><a href="{% url 'notepage' 'backward' 'part15' %}" class="button primary icon solid fa-backward">Back: 15. PE Seg.6</a></li> 
                     <li><span class="button">16. PE Seg.7</span></li> 
                     <li><a href="{% url 'notepage' 'backward' 'part17' %}" class="button primary icon solid fa-forward">Next: 17. PE Seg.8</a></li> 
                 </ul> 
             </div> 
         </div>
 
