{% load static %}

<h1 id="c">C++</h1>

<h2 id="tableofcontents">Table of Contents</h2>

<ul>
<li><a href="#inheritance">Inheritance</a></li>
<li><a href="#permissioncontrol">Permission Control</a></li>
<li><a href="#virtualfunction">Virtual Function</a>

<ul>
<li><a href="#virtualfunctiontable">Virtual Function Table</a></li>
<li><a href="#callmethod">Call Method</a></li>
<li><a href="#printvft">Print VFT</a></li>
<li><a href="#inheritedvft">Inherited VFT</a></li>
</ul></li>
<li><a href="#bound">Bound</a>

<ul>
<li><a href="#staticbound">Static Bound</a></li>
<li><a href="#dynamicbound">Dynamic Bound</a></li>
</ul></li>
<li><a href="#template">Template</a></li>
<li><a href="#reference">Reference</a></li>
<li><a href="#friend">Friend</a></li>
<li><a href="#operationoverload">Operation Overload</a></li>
</ul>

<p><TableEndMark></p>

<section	id="inheritance">
<h2>Inheritance</h2>

<p>Inheritance in C++ takes place between classes. In an inheritance relationship, the class being inherited from is called the parent class, base class, or superclass, and the class doing the inheriting is called the child class, derived class, or subclass.</p>

<p>The inheritance follows paradigm like:</p>
<pre><code class="cpp">#include &lt;iostream&gt;

class Base {
private:
    int x;
    int y;
}

// an instance of public inheritance
class Successor: public Base {
    int a;
    int b;
}</code></pre>

<p>One topic we want to talk about is: can private (discussed later in permission control) members be inherited by successors?</p>

<p>From the point of C++ per se, it seems impossible since the members have been marked as private. However, as a backward programmer, there are no differences between public members and private ones.</p>
<pre><code class="cpp">#include &lt;iostream&gt;
#include &quot;myDef.h&quot;
using namespace std;

int main(int argc, char* argv[]) {
	Successor suc;
	
	cout &lt;&lt; sizeof(suc) &lt;&lt; endl;

	return 0;
}</code></pre>
<pre><code class="cpp">16</code></pre>

</section>
<section	id="permissioncontrol">
<h2>Permission Control</h2>

<p>In C++, it includes some marks, for security reason, like private, public, and protect. As we all know, the private members cannot be accessed by programmer by the permission. Yet for architecture programmer, we are able to access them by pointer.</p>

<p>The only difference from public to private is that whether is can be used by other users, or whether is can be served as interface points.</p>

<p>Now let&#8217;s see how can we access private members by pointers,</p>
<pre><code class="cpp">// myDef.h
#include &lt;iostream&gt;

class Base {
public:
	Base();

private:
	int x;
	int y;
};

class Successor: public Base {
public:
	Successor();

private:
	int a;
	int b;
};</code></pre>
<pre><code class="cpp">// myDef.cpp:
#include &quot;myDef.h&quot;

Base::Base() {
	std::cout &lt;&lt; &quot;Initializer of Base: ++++&quot; &lt;&lt; std::endl;	
	this-&gt;x = 1;
	this-&gt;y = 2;
}

Successor::Successor() {
	std::cout &lt;&lt; &quot;Initializer of Successor: ++++&quot; &lt;&lt; std::endl;
	this-&gt;a = 11;
	this-&gt;b = 22;
}</code></pre>
<pre><code class="cpp">#include &lt;iostream&gt;
#include &quot;myDef.h&quot;
using namespace std;

int main(int argc, char* argv[]) {
	Successor suc;
	int* pSuc = (int*)&amp;suc;
	
	cout &lt;&lt; sizeof(suc) &lt;&lt; endl;
	cout &lt;&lt; pSuc[0] &lt;&lt; endl;
	cout &lt;&lt; pSuc[1] &lt;&lt; endl;
	cout &lt;&lt; pSuc[2] &lt;&lt; endl;
	cout &lt;&lt; pSuc[3] &lt;&lt; endl;

	return 0;
}</code></pre>
<pre><code class="cpp">Initializer of Base: ++++
Initializer of Successor: ++++
1       // &lt;-- private member: x
2       // &lt;-- private member: y
11
22</code></pre>

</section>
<section	id="virtualfunction">
<h2>Virtual Function</h2>

<p>What&#8217;s virtual function? Virtual function is the function that marked with <code>virtual</code> in a class.</p>
<pre><code class="cpp">class class_with_virtual_func {
private:
	int x;

	void func() {

	}

	virtual void vir_func() {

	}
};</code></pre>

<section	id="virtualfunctiontable">
<h3>Virtual Function Table</h3>

<p>What we are concerned first is the differences between normal function and virtual function.</p>

<ul>
<li>storage</li>
</ul>
<pre><code class="cpp">// what&apos;s the size of the class below and above
class class_with_virtual_func2 {
private:
	int x; 

	void func() {

	}

	virtual void vir_func1() {

	}

	virtual void vir_func2() {

	}
};</code></pre>
<pre><code class="cpp">int main(int argc, char* argv[]) {
	cout &lt;&lt; sizeof(class_with_virtual_func1) &lt;&lt; endl;
	cout &lt;&lt; sizeof(class_with_virtual_func2) &lt;&lt; endl;

	return 0;
}</code></pre>
<pre><code class="cpp">8
8</code></pre>

<p>The answer is 8 bytes &#8211; 4 bytes for variable member x and 4 bytes for the address of virtual function table.</p>

<p>To be specific, let&#8217;s dig into virtual function table to see what it looks like.</p>
<pre><code class="cpp">class class_with_virtual_func {
private:
	int x; 
	int y;

	void func() {

	}

	virtual void vir_func1() {

	}

	virtual void vir_func2() {

	}

public:
	class_with_virtual_func() {
		x = 1;
		y = 2;
	}
};

// given that the structure of the class is:
// base address -&gt; the address of virtual function table
// base addr + 4      x
// base addr + 8      y
//
// addr of vft -&gt; virtual_func1
//                virtual_func2
//                virtual_func3

int main(int argc, char* argv[]) {
	class_with_virtual_func cls;
	class_with_virtual_func* pCls = &amp;cls;

	cout &lt;&lt; &quot;The base address of the class is: &quot; &lt;&lt; pCls &lt;&lt; endl;
	cout &lt;&lt; &quot;The address of virtual function table, i.e. the first 4 bytes of the class, is: &quot; &lt;&lt; *((int*)pCls + 0) &lt;&lt; endl;
	cout &lt;&lt; &quot;Visit x by pointer: &quot; &lt;&lt; *((int*)pCls + 1) &lt;&lt; endl;
	cout &lt;&lt; &quot;Visit y by pointer: &quot; &lt;&lt; *((int*)pCls + 2) &lt;&lt; endl;

	return 0;
}</code></pre>

</section>
<section	id="callmethod">
<h3>Call Method</h3>

<ul>
<li>call</li>
</ul>

<p>Different from <code>E8</code> direct call, it will use <code>FF</code> indirect call for virtual function.</p>
<pre><code class="cpp">   // call by instance
34:       cls.func();
004011C6 8D 4D F4             lea         ecx,[ebp-0Ch]
004011C9 E8 5F FE FF FF       call        @ILT+40(class_with_virtual_func::func) (0040102d)
35:       cls.vir_func1();
004011CE 8D 4D F4             lea         ecx,[ebp-0Ch]
004011D1 E8 F2 FE FF FF       call        @ILT+195(class_with_virtual_func::vir_func1) (004010c8)

   // call by pointer
38:       pCls-&gt;func();
004011D6 8B 4D F0             mov         ecx,dword ptr [ebp-10h]
004011D9 E8 4F FE FF FF       call        @ILT+40(class_with_virtual_func::func) (0040102d)
39:       pCls-&gt;vir_func1();
004011DE 8B 4D F0             mov         ecx,dword ptr [ebp-10h]
004011E1 8B 11                mov         edx,dword ptr [ecx]
004011E3 8B F4                mov         esi,esp
004011E5 8B 4D F0             mov         ecx,dword ptr [ebp-10h]
004011E8 FF 12                call        dword ptr [edx]
004011EA 3B F4                cmp         esi,esp
004011EC E8 0F 83 00 00       call        __chkesp (00409500)
40:       pCls-&gt;vir_func2();
004011F1 8B 45 F0             mov         eax,dword ptr [ebp-10h]
004011F4 8B 10                mov         edx,dword ptr [eax]
004011F6 8B F4                mov         esi,esp
004011F8 8B 4D F0             mov         ecx,dword ptr [ebp-10h]
004011FB FF 52 04             call        dword ptr [edx+4]
004011FE 3B F4                cmp         esi,esp
00401200 E8 1B 83 00 00       call        __chkesp (00409520)</code></pre>

<p>Notice that if the function is called by instance, there is no difference between member function and virtual function. Yet if by pointer, member function will be called directly and the other be called indirectly.</p>

<p>BTW, in assembly code, <code>edx</code> saves the address of virtual function table.</p>

</section>
<section	id="printvft">
<h3>Print VFT</h3>

<p>Now let&#8217;s try to print virtual function table. The class is defined as follows,</p>
<pre><code class="cpp">class class_with_virtual_func {
private:
	int x; 
	int y;

	void func() {

	}

	virtual void vir_func1() {

	}

	virtual void vir_func2() {

	}

public:
	class_with_virtual_func() {
		x = 1;
		y = 2;
	}
};</code></pre>

<p>We will try to print virtual function list by hand,</p>
<pre><code class="cpp">typedef void (*pFunc)(void);

int main(int argc, char* argv[]) {
	class_with_virtual_func cls;
	class_with_virtual_func* pCls = &amp;cls;

	int* vft = (int*)(*((int*)pCls + 0));

	printf(&quot;The address of virtual function table: %x\n&quot;, vft);
	printf(&quot;The address of 1st. virtual function is: %x\n&quot;, vft[0]);
	printf(&quot;The address of 2nd. virtual function is: %x\n&quot;, vft[1]);

	// calling by function pointer
	pFunc pfunc = (pFunc)vft[0];
	pfunc();
	
	pfunc = (pFunc)vft[1];
	pfunc();

	return 0;
}</code></pre>

</section>
<section	id="inheritedvft">
<h3>Inherited VFT</h3>

<p>Our next question is if virtual function table will be inherited, and if so, how is it inherited?</p>

<ul>
<li>no inheritance</li>
</ul>

<p>In the case of no inheritance, the structure has been discussed above.</p>
<pre><code class="cpp">// instance:  [vars]
//            [funcs]
//            virtual function table
// ---------------------------------
// virtual function table: [virtual functions]</code></pre>

<ul>
<li>single inheritance without overwriting functions</li>
</ul>
<pre><code class="cpp">class Base {
	virtual void func1() {
		printf(&quot;calling func1...\n&quot;);
	}
	virtual void func2() {
		printf(&quot;calling func2...\n&quot;);
	}
};

class Successor: Base {
	virtual void func3() {
		printf(&quot;calling func3...\n&quot;);
	}
	virtual void func4() {
		printf(&quot;calling func4...\n&quot;);
	}
};</code></pre>
<pre><code class="cpp">typedef void (*pFunc)(void);

int main(int argc, char* argv[]) {
	Successor suc;
	Successor* pSuc = &amp;suc;

	int* vft = (int*)(*((int*)pSuc + 0));

	printf(&quot;Virtual function table: %x\n&quot;, vft);
	
	pFunc pfunc;
	pfunc = (pFunc)vft[0];
	pfunc();
	pfunc = (pFunc)vft[1];
	pfunc();
	pfunc = (pFunc)vft[2];
	pfunc();
	pfunc = (pFunc)vft[3];
	pfunc();

	getchar();

	return 0;
}</code></pre>
<pre><code class="cpp">Virtual function table: 0x00401380
calling func1...
calling func2...
calling func3...
calling func4...</code></pre>

<p>Therefore, in this case, the virtual function table contains those of base class and those of successor class, and it will only keep one virtual function table.</p>

<ul>
<li>single inheritance with overwriting functions</li>
</ul>
<pre><code class="cpp">class Base {
	virtual void func1() {
		printf(&quot;calling Base::func1...\n&quot;);
	}
	virtual void func2() {
		printf(&quot;calling Base::func2...\n&quot;);
	}
	virtual void func3() {
		printf(&quot;calling func3...\n&quot;);
	}
};

class Successor: Base {
	virtual void func1() {
		printf(&quot;calling Successor::func1...\n&quot;);
	}
	virtual void func2() {
		printf(&quot;calling Successor::func2...\n&quot;);
	}
	virtual void func6() {
		printf(&quot;calling func6...\n&quot;);
	}
};</code></pre>

<p>The <code>main</code> function is same as code segment above.</p>
<pre><code class="cpp">Virtual function table: 0x00401380
calling Successor::func1...
calling Successor::func2...
calling func3...
calling func6...</code></pre>

<p>Notice that the virtual functions of successor will override those of base, and virtual function table only saves the result after overriding. </p>

<ul>
<li>Multi-inheritance without overwriting functions</li>
</ul>
<pre><code class="cpp">class Base1 {
	virtual void func1() {
		printf(&quot;calling func1...\n&quot;);
	}
	virtual void func2() {
		printf(&quot;calling func2...\n&quot;);
	}
};

class Base2 {
	virtual void func3() {
		printf(&quot;calling func3...\n&quot;);
	}
	virtual void func4() {
		printf(&quot;calling func4...\n&quot;);
	}
};

class Successor: Base1, Base2 {
	virtual void func5() {
		printf(&quot;calling func5...\n&quot;);
	}
	virtual void func6() {
		printf(&quot;calling func6...\n&quot;);
	}
};</code></pre>
<pre><code class="cpp">typedef void (*pFunc)(void);

int main(int argc, char* argv[]) {
	Successor suc;
	Successor* pSuc = &amp;suc;

	int* vft1 = (int*)(*((int*)pSuc + 0));
	int* vft2 = (int*)(*((int*)pSuc + 1));

	printf(&quot;Virtual function table[1]: %x\n&quot;, vft1);
	printf(&quot;Virtual function table[2]: %x\n&quot;, vft2);
	
	pFunc pfunc;
	pfunc = (pFunc)vft1[0];
	pfunc();
	pfunc = (pFunc)vft1[1];
	pfunc();
	pfunc = (pFunc)vft1[2];
	pfunc();
	pfunc = (pFunc)vft1[3];
	pfunc();

	printf(&quot;\n&quot;);
	pfunc = (pFunc)vft2[0];
	pfunc();
	pfunc = (pFunc)vft2[1];
	pfunc();

	getchar();

	return 0;
}</code></pre>
<pre><code class="cpp">Virtual function table[1]: 0x431078
Virtual function table[2]: 0x43106c
calling func1...
calling func2...
calling func5...
calling func6...

calling func3...
calling func4...</code></pre>

<p>Notice that only vft of the first base will be copied into that of successor, and others will be saved as another vft in successor class.</p>

<ul>
<li>Multi-inheritance with overwriting functions</li>
</ul>
<pre><code class="cpp">class Base1 {
	virtual void func1() {
		printf(&quot;calling Base1::func1...\n&quot;);
	}
	virtual void func2() {
		printf(&quot;calling func2...\n&quot;);
	}
};

class Base2 {
	virtual void func3() {
		printf(&quot;calling Base2::func3...\n&quot;);
	}
	virtual void func4() {
		printf(&quot;calling func4...\n&quot;);
	}
};

class Successor: Base1, Base2 {
	virtual void func1() {
		printf(&quot;calling Successor::func1...\n&quot;);
	}
	virtual void func3() {
		printf(&quot;calling Successor::func3...\n&quot;);
	}
	virtual void func5() {
		printf(&quot;calling func5...\n&quot;);
	}
};</code></pre>
<pre><code class="cpp">typedef void (*pFunc)(void);

int main(int argc, char* argv[]) {
	Successor suc;
	Successor* pSuc = &amp;suc;

	int* vft1 = (int*)(*((int*)pSuc + 0));
	int* vft2 = (int*)(*((int*)pSuc + 1));

	printf(&quot;Virtual function table[1]: %x\n&quot;, vft1);
	printf(&quot;Virtual function table[2]: %x\n&quot;, vft2);
	
	pFunc pfunc;
	pfunc = (pFunc)vft1[0];
	pfunc();
	pfunc = (pFunc)vft1[1];
	pfunc();
	pfunc = (pFunc)vft1[2];
	pfunc();

	printf(&quot;\n&quot;);
	pfunc = (pFunc)vft2[0];
	pfunc();
	pfunc = (pFunc)vft2[1];
	pfunc();

	getchar();

	return 0;
}</code></pre>
<pre><code class="cpp">Virtual function table[1]: 0x431078
Virtual function table[2]: 0x43106c
calling Successor::func1...
calling func2...
calling func5...

calling Successor::func3...
calling func4...</code></pre>

<p>What&#8217;s similar is that it also keeps two virtual function tables where the first one records the virtual functions of Base1 and Successor. When comes to difference, overwriting function of each table will be replaced by top class.</p>

<p>To sum up, the characteristics of virtual function are:</p>

<ul>
<li>it will create more than one virtual function tables in the case of multi-inheritance.</li>
<li>overwriting functions will be replaced by virtual functions of top class.</li>
</ul>

</section>
</section>
<section	id="bound">
<h2>Bound</h2>

<p>Bound means unset values have been assigned in a program. There are two kind of bound - static and dynamic one. But first let&#8217;s see following code.</p>
<pre><code class="cpp">class Base {
public:
	int x;

public:
	Base() {
		x = 100;
	}

	void print() {
		cout &lt;&lt; &quot;calling Base::print()...&quot; &lt;&lt; endl;
	}

	virtual void v_func() {
		cout &lt;&lt; &quot;calling Base::v_func()...&quot; &lt;&lt; endl;
	}
};

class Successor: public Base {
public:
	int x;

public:
	Successor() {
		x = 200;
	}

	void print() {
		cout &lt;&lt; &quot;calling Successor::print()...&quot; &lt;&lt; endl; 
	}

	virtual void v_func() {
		cout &lt;&lt; &quot;calling Successor::v_func()...&quot; &lt;&lt; endl;
	}
};</code></pre>
<pre><code class="cpp">int main(int argc, char* argv[]) {
	Base bs;
	Successor suc;

	Base* arr[2] = {&amp;bs, &amp;suc};

	for (int i = 0; i &lt; 2; i++) {
		printf(&quot;%d\n&quot;, arr[i]-&gt;x);
		arr[i]-&gt;print();
		arr[i]-&gt;v_func();
	}

	getchar();

	return 0;
}</code></pre>

<p>Guess what&#8217;s the output.</p>
<pre><code class="cpp">100
calling Base::print()...
calling Base::v_func()...
100
calling Base::print()...
calling Successor::v_func()...</code></pre>

<p>Notice that base pointer is only able to access functions or members of its own class. Yet for virtual functions, it is able to access virtual functions at different levels, the feature which is called multi-states.</p>

<p>But how does it achieve that function? We have to talk about static bound and dynamic bound.</p>

<section	id="staticbound">
<h3>Static Bound</h3>

<p>Static bound means some unset values are assigned at the stage of compiling.</p>
<pre><code class="cpp">41:       Base bs;
004011A8 8D 4D F8             lea         ecx,[ebp-8]
004011AB E8 B4 FE FF FF       call        @ILT+95(Base::Base) (00401064)
42:       Successor suc;
004011B0 8D 4D EC             lea         ecx,[ebp-14h]
004011B3 E8 9D FE FF FF       call        @ILT+80(Successor::Successor) (00401055)

48:           arr[i]-&gt;print();
004011F4 8B 45 E0             mov         eax,dword ptr [ebp-20h]
004011F7 8B 4C 85 E4          mov         ecx,dword ptr [ebp+eax*4-1Ch]
004011FB E8 A5 FE FF FF       call        @ILT+160(Base::print) (004010a5)

49:           arr[i]-&gt;v_func();
00401200 8B 4D E0             mov         ecx,dword ptr [ebp-20h]
00401203 8B 4C 8D E4          mov         ecx,dword ptr [ebp+ecx*4-1Ch]
00401207 8B 55 E0             mov         edx,dword ptr [ebp-20h]
0040120A 8B 44 95 E4          mov         eax,dword ptr [ebp+edx*4-1Ch]
0040120E 8B 10                mov         edx,dword ptr [eax]
00401210 8B F4                mov         esi,esp
00401212 FF 12                call        dword ptr [edx]
00401214 3B F4                cmp         esi,esp
00401216 E8 45 84 00 00       call        __chkesp (00409660)</code></pre>

<p>For lines 41, 42, and 48, these are what we call static bound. The function address has been set at the stage of compiling. Yet for line 49, the function address has not been set, and the register, <code>edx</code>, serves as a placeholder for function address, meaning the function is called indirectly, The method what we call dynamic bound.</p>

</section>
<section	id="dynamicbound">
<h3>Dynamic Bound</h3>

<p>As shown above, dynamic bound is achieved by virtual function table. Therefore vft is the key to understand one important feature of c++ &#8211; multi-state.</p>

</section>
</section>
<section	id="template">
<h2>Template</h2>

<p>Template is another feature of c++, which is created for same code segments with different types. The essence of template is copying code segments.</p>
<pre><code class="cpp">// or for template with multi parameters
// template&lt;class T, class V&gt;
template&lt;class T&gt;
T func(T var1, T var2) {
	T var3;

	...
	...

	return var3;
}</code></pre>

<p>BTW, the compiler will replace template class with specific class at the stage of compiling. Hence there is no difference in assembly code between a template function and a type-explicit function.</p>

</section>
<section	id="reference">
<h2>Reference</h2>

<ul>
<li><code>&amp;</code> type<br/>
Reference type is a type that&#8217;s similar to <code>*</code> type. Yet for security reason, pointers have super power in memory management, however such power could be used abusively. Therefore, <code>&amp;</code> type is created in time.</li>
</ul>
<pre><code class="cpp">/*
004010DF 8D 45 FC             lea         eax,[ebp-4]
004010E2 50                   push        eax
004010E3 E8 31 FF FF FF       call        @ILT+20(pass_by_pointer) (00401019)
004010E8 83 C4 04             add         esp,4

41:       *x = 1;
00401058 8B 45 08             mov         eax,dword ptr [ebp+8]
0040105B C7 00 01 00 00 00    mov         dword ptr [eax],1
*/
void pass_by_pointer(int* x) {
	*x = 1;
}

/*
004010EB 8D 4D FC             lea         ecx,[ebp-4]
004010EE 51                   push        ecx
004010EF E8 11 FF FF FF       call        @ILT+0(pass_by_reference) (00401005)
004010F4 83 C4 04             add         esp,4

45:       x = 1;
00401098 8B 45 08             mov         eax,dword ptr [ebp+8]
0040109B C7 00 01 00 00 00    mov         dword ptr [eax],1
*/
void pass_by_reference(int&amp; x) {
	x = 1;
}</code></pre>

<p>There is no difference at the level of assembly language. In other word, <code>&amp;</code> type can be seen as <code>const *</code>.</p>
<pre><code class="cpp">int&amp; == const int*</code></pre>

<p>Reference type has some limitations:</p>

<ul>
<li>it must be initialized when being created.</li>
<li>it cannot be assigned as other variable.</li>
<li>reference seems like a pointer which is managed by compiler.</li>
</ul>

</section>
<section	id="friend">
<h2>Friend</h2>

<p><code>friend</code> keyword is used to tell compiler that who is my friends. My friends are able to access my private members, such as variables, functions, and so on. Friend function is often used in operation overloading.</p>

</section>
<section	id="operationoverload">
<h2>Operation Overload</h2>

<p>Operation overload provide us a tool for customizing operation of customer-defined class.</p>
<pre><code class="cpp">class Point {
public:
    Point();
    Point(int xc, int yc);
    
    int getX();
    int getY();
    
    std::string toString();
    
    friend bool operator == (Point p1, Point p2);

private:
    int x;
    int y;
};

bool operator == (Point p1, Point p2);

// why != overloaded function is not defined as friend founction of class Point? Because, the implemention of the function does not call private variable of Point directly, which is the same reason to &lt;&lt; function;
bool operator != (Point p1, Point p2);</code></pre>
<pre><code class="cpp">Point::Point() {
    x = 0;
    y = 0;
}

Point::Point(int xc, int yc) {
    x = xc;
    y = yc;
}

int Point::getX() {
    return x;
}

int Point::getY() {
    return y;
}

bool operator == (Point p1, Point p2) {
    return (p1.x == p2.x) &amp;&amp; (p1.y == p2.y);
}

bool operator != (Point p1, Point p2) {
    return !(p1 == p2);
}</code></pre>

<p>BTW: friend functions cannot be inherited.</p>

</section>
<p><EndMarkdown></p>
 
         <!-- pre and next --> 
         <div class="row"> 
             <div class="col-md-12 prenextstyle"> 
                 <ul class="pagination justify-content-center"> 
                     <li><a href="{% url 'notepage' 'backward' 'part19' %}" class="button primary icon solid fa-backward">Back: 19. PE Seg.10</a></li> 
                     <li><span class="button">20. C++ Seg.1</span></li> 
                     <li><a href="{% url 'notepage' 'backward' 'part21' %}" class="button primary icon solid fa-forward">Next: 21. C++ Seg.2</a></li> 
                 </ul> 
             </div> 
         </div>
 
